body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}


.loadingIndicator {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.container {
    position: relative;
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    animation: fadeIn 2s ease forwards; 
}

#urlInput {
    width: calc(60% - 100px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.searchButtonGroup {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.searchButton {
    padding: 1;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s;
}

.searchButton img, .searchButton svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.searchButton:hover {
    transform: scale(1.2);
}

.optionCheckbox {
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.extraOptions {
    display: none;
    margin-top: 40px;
    position: absolute;
    width: 30%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.googleOptions a {
    text-decoration: none;
    color: #4285f4; /* Google Blue */
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #4285f4; /* Google Blue */
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.googleOptions a:hover {
    background-color: #e7f0ff; /* Google Light Blue */
}

/* Giriş animasyonu */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}